LOG_LEVEL=INFO
OUTPUT_DIR=output/screenshots
SNAP_INTERVAL_SECONDS=60
SNAP_CAPTURE_COUNT=0
SNAP_IMAGE_FORMAT=png

CLOUDSTATION_ROOT_WINDOWS=D:\CloudStation
CLOUDSTATION_ROOT_MACOS=~/CloudStation
CLOUDSTATION_ROOT_LINUX=~/CloudStation
